---
export const prerender = true;

import Layout from "../layouts/Layout.astro";
import Socials from "../components/Socials.astro";

import CenteredBody from "../components/CenteredBody.astro";
import Fren from "../components/Fren.astro";
---

<Layout title="vornexx's Site" description="read if cute">
    <CenteredBody>
        <section>
            <h1>Hi, I'm <span>vornexx</span></h1>
            <p>
                idk i really like tech and i need a new phone. im am just the average stinky roblox kid
                <br />
                hp printers are bad
            </p>
        </section>

        <section>
            <h2>You can find me all over the interwebs:</h2>
            <Socials class="socials" />
        </section>

        <section>
            </div>
        </section>
    </CenteredBody>
</Layout>

  }

    span {
        color: var(--accent);
    }
